openapi: 3.0.3
info:
  title: MyEvents APP API
  version: 1.0.0
  description: >
    Etkinlik yönetimi için kapsamlı bir API.

    ## Ana Özellikler
    - Etkinlik oluşturma ve yönetme (kapasite, katılımcılar, yoklama doğrulama)
    - Her bilet için benzersiz katılım kodu ile hızlı ve güvenli giriş
    - Güvenli ödeme altyapısı ve kullanıcı verilerini koruyan gizlilik politikası
    - Organizasyon ve katılımcılar için merkezi panel
  contact:
    name: Guyde Freny Badinga
    email: badingaguyde@gmail.com

servers:
  - url: https://api.vercel.com
    description: Üretim sunucusu (Production)
  - url: https://staging-api.vercel.com
    description: Test sunucusu (Staging)
  - url: https://localhost:3000
    description: Yerel geliştirme sunucusu (Development)

tags:
  - name: Users
    description: Kullanıcı hesabı oluşturma,liteleme , güncelleme ve silme işlemleri
  - name: Events
    description: Etkinlik oluşturma, listeleme, güncelleme ve silme işlemleri
  - name: Tickets
    description: Bilet oluşturma, listeleme, güncelleme ve silme işlemleri
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token ile kimlik doğrulama
security:
  - BearerAuth: []

paths:
  /api/users:
    post:
      tags:
        - Users
      summary: Kullanıcı Oluştur
      operationId: createUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserInput"
      responses:
        "201":
          description: Kullanıcı başarıyla oluşturuldu
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          description: Geçersiz istek verisi
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Bu işlem için yetkiniz bulunmuyor
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      tags:
        - Users
      summary: Bır etkınlığe katılan kullanıcıları listele
      operationId: listUsers
      parameters:
        - name: eventid
          in: query
          required: true
          description: Kullanıcıların katıldığı etkinliğin kimlik numarası
          schema:
            type: string
          example: "evt789"

        - name: page
          in: query
          required: false
          description: Sayfa numarası (varsayılan 1)
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: limit
          in: query
          required: false
          description: Sayfa başına sonuç sayısı (varsayılan 10, maksimum 50)
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
          example: 10
      responses:
        "200":
          description: Kullanıcılar başarıyla listelendi
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/User"
        "400":
          description: Geçersiz istek verisi
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/users/{userid}:
    parameters:
      - name: userid
        in: path
        required: true
        description: Kullanıcının benzersiz kimlik numarası
        schema:
          type: string
        example: "abc123"

    put:
      tags:
        - Users
      summary: Kullanıcı Güncelle
      operationId: updateUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserInput"
      responses:
        "200":
          description: Kullanıcı başarıyla güncellendi
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          description: Geçersiz istek verisi
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Bu işlem için yetkiniz bulunmuyor
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Kullanıcı bulunamadı
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    delete:
      tags:
        - Users
      summary: Kullanıcı Sil
      operationId: deleteUser
      responses:
        "204":
          description: Kullanıcı başarıyla silindi
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Bu işlem için yetkiniz bulunmuyor
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Kullanıcı bulunamadı
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/events:
    get:
      tags:
        - Events
      summary: Etkinlikleri Listele
      operationId: listEvents
      parameters:
        - name: page
          in: query
          required: false
          description: Sayfa numarası (varsayılan 1)
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: limit
          in: query
          required: false
          description: Sayfa başına sonuç sayısı (varsayılan 10, maksimum 50)
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
          example: 10
      responses:
        "200":
          description: Etkinlikler başarıyla listelendi
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Event"
        "400":
          description: Geçersiz istek verisi
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Etkinlik bulunamadı
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    post:
      tags:
        - Events
      summary: Etkinlik Oluştur
      operationId: createEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventInput"
      responses:
        "201":
          description: Etkinlik başarıyla oluşturuldu
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event"
        "400":
          description: Geçersiz istek verisi
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Bu işlem için yetkiniz bulunmuyor
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Etkinlik bulunamadı
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/events/search:
    get:
      tags:
        - Events
      summary: Etkinlikleri Ara
      operationId: searchEvents
      parameters:
        - name: query
          in: query
          required: true
          description: Arama terimi (etkinlik adı veya açıklaması)
          schema:
            type: string
          example: "müzik"
        - name: page
          in: query
          required: false
          description: Sayfa numarası (varsayılan 1)
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: limit
          in: query
          required: false
          description: Sayfa başına sonuç sayısı (varsayılan 10, maksimum 50)
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
          example: 10
      responses:
        "200":
          description: Arama sonuçları başarıyla listelendi
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Event"
        "400":
          description: Geçersiz istek verisi
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Etkinlik bulunamadı
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/events/category/{category}:
    get:
      tags:
        - Events
      summary: Kategoriye Göre Etkinlikleri Listele
      operationId: listEventsByCategory
      parameters:
        - name: category
          in: path
          required: true
          description: Etkinlik kategorisi ( müzik, spor, sanat ...)
          schema:
            type: string
          example: "müzik"
        - name: page
          in: query
          required: false
          description: Sayfa numarası (varsayılan 1)
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: limit
          in: query
          required: false
          description: Sayfa başına sonuç sayısı (varsayılan 10, maksimum 50)
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
          example: 10
      responses:
        "200":
          description: Kategoriye göre etkinlikler başarıyla listelendi
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Event"
        "400":
          description: Geçersiz istek verisi
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Etkinlik bulunamadı
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/events/inmyarea:
    get:
      tags:
        - Events
      summary: Yakınımdaki Etkinlikleri Listele
      operationId: listNearbyEvents
      parameters:
        - name: lat
          in: query
          required: true
          description: Enlem değeri (latitude)
          schema:
            type: number
            format: float
          example: 37.7749
        - name: long
          in: query
          required: true
          description: Boylam değeri (longitude)
          schema:
            type: number
            format: float
          example: 35.3213
        - name: radius
          in: query
          required: false
          description: Arama yarıçapı (kilometre cinsinden, varsayılan 10 km)
          schema:
            type: integer
            minimum: 1
            default: 10
          example: 10
        - name: page
          in: query
          required: false
          description: Sayfa numarası (varsayılan 1)
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: limit
          in: query
          required: false
          description: Sayfa başına sonuç sayısı (varsayılan 10, maksimum 50)
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
          example: 10
      responses:
        "200":
          description: Yakınımdaki etkinlikler başarıyla listelendi
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Event"
        "400":
          description: Geçersiz istek verisi (örneğin, eksik veya hatalı koordinatlar)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Etkinlik bulunamadı (belirtilen konumda etkinlik yok)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/events/{eventid}:
    get:
      tags:
        - Events
      summary: Katılımcıların listesini getir
      operationId: getEventParticipants
      parameters:
        - name: eventid
          in: path
          required: true
          description: Etkinliğin benzersiz kimlik numarası
          schema:
            type: string
          example: "evt789"
      responses:
        "200":
          description: Katılımcılar başarıyla getirildi
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Event"
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Etkinlik bulunamadı
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    put:
      tags:
        - Events
      summary: Etkinlik Güncelle
      operationId: updateEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventInput"
      responses:
        "200":
          description: Etkinlik başarıyla güncellendi
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event"
        "400":
          description: Geçersiz istek verisi
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Bu işlem için yetkiniz bulunmuyor
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Etkinlik bulunamadı
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    delete:
      tags:
        - Events
      summary: Etkinlik Sil
      operationId: deleteEvent
      responses:
        "204":
          description: Etkinlik başarıyla silindi
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Bu işlem için yetkiniz bulunmuyor
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Etkinlik bulunamadı
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/tickets:
    post:
      tags:
        - Tickets
      summary: Bilet Oluştur
      operationId: createTicket
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TicketInput"
      responses:
        "201":
          description: Bilet başarıyla oluşturuldu
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ticket"
        "400":
          description: Geçersiz istek verisi
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Bu işlem için yetkiniz bulunmuyor
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Etkinlik bulunamadı
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    get:
      tags:
        - Tickets
      summary: Biletleri Listele
      operationId: listTickets
      parameters:
        - name: eventid
          in: query
          required: true
          description: Biletlerin ait olduğu etkinliğin kimlik numarası
          schema:
            type: string
          example: "evt789"
        - name: page
          in: query
          required: false
          description: Sayfa numarası (varsayılan 1)
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: limit
          in: query
          required: false
          description: Sayfa başına sonuç sayısı (varsayılan 10, maksimum 50)
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
          example: 10
      responses:
        "200":
          description: Biletler başarıyla listelendi
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Ticket"
        "400":
          description: Geçersiz istek verisi
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Etkinlik bulunamadı
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/tickets/{ticketid}:
    parameters:
      - name: ticketid
        in: path
        required: true
        description: Biletin benzersiz kimlik numarası
        schema:
          type: string
        example: "bkt123"

    post:
      tags:
        - Tickets
      summary: Bileti Kontrol et
      operationId: checkTicket
      responses:
        "200":
          description: Bilet doğrulandı
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ticket"
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Bilet bulunamadı
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Bilet zaten kullanılmış
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    delete:
      tags:
        - Tickets
      summary: Bilet Sil
      operationId: deleteTicket
      responses:
        "204":
          description: Bilet başarıyla silindi
        "401":
          description: Kimlik doğrulama başarısız (token eksik veya geçersiz)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Bu işlem için yetkiniz bulunmuyor
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Bilet bulunamadı
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
